<!DOCTYPE html>
</html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Free SMS Text Sender</title>

    <!-- Bootstrap -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/public/angular/angular.js"></script>
    <script src="/public/js/main.js"></script>



  </head>
  <body>
    <!-- Menu -->

    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/"><span class='logo-font'> TXT Sender</span> <i class="glyphicon glyphicon glyphicon-comment logo"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/send_free_sms">Send Free SMS</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul>
    </div>
    </div>
    </nav>

<br><br><br>

  <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading"><h1>Frequently Asked Questions</h1>
  </div>
    <div class="panel-body">
      <h4>Do you have international service?</h4>
      <p>No, we only do messages within the United States.
      </p>
      <p>&nbsp;</p>
    <h4>Are we allowed unlimited messages per day?</h4>
    <p class ='desc'>You are allowed unlimited messages per day within the constraints of our <strong>Fair Usage</strong> policy.</p>
    <p>&nbsp;</p>
    <p class ='desc'>
      If you use this SMS Service for SMS bombing, spamming, illegal or unsolicited SMS,
      SMS advertising, SMS marketing, or any means that may cause high loads and
      those that can adversely impact the overall stability of service, then we will
      block or ban you from using the Service.
    </p>
    <p>&nbsp;</p>
    <h4> I sent a text message and it was not received by the mobile subscriber. </h4>
    <p class ='desc'>There are some reasons why SMS messages did not arrived.<ul>
          <li>Invalid mobile number.</li>
          <li>The mobile phone that you are trying to reach has been switch off or is out of coverage.</li>
          <li>Carrier-to-carrier error or network congestions.</li>
          <li>If the status is Delivered and you do not receive the message this means
           there is no carrier-to-carrier SMS agreement in place.</li></ul>
    </p>
    <p>&nbsp;</p>
    <h4>Can I send spam or unsolicited SMS?</h4>
    <p class ='desc'>We <strong>DO NOT ALLOW</strong> any unsolicited SMS, spam or illegal sms from our site. We are tracking every
       single user who uses this free service. This means that all transactions are recorded and will
        be use against who violate and abuse the service.</p>
    <p>&nbsp;</p>
    <h4>What I do if I am keep getting error while sending SMS?</h4>
    <p class ='desc'>If you get an ERROR like "invalid mobile number" or any blank filled then you must correct it yourself, but if you get ERROR like "Message Status Failed!""
      then it means some internal issue from our server or due to heavy load so wait for few minutes. It will be working very soon.</p>
    <p>&nbsp;</p>
    <p class ='desc'>Sometimes the error is caused when your message contains SCAM, BANNED, and SPAM or UNSOLICITED messages.
    </p>
  </div>
</body>
</html>
