<%- contentFor('page') %>

<br><br><br>

  <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading"><h1>Frequently Asked Questions</h1>
  </div>
    <div class="panel-body">
      <h4>Do you have international service?</h4>
      <p>No, we only do messages within the United States.
      </p>
      <p>&nbsp;</p>
    <h4>Are we allowed unlimited messages per day?</h4>
    <p class ='desc'>You are allowed unlimited messages per day within the constraints of our <strong>Fair Usage</strong> policy.</p>
    <p>&nbsp;</p>
    <p class ='desc'>
      If you use this SMS Service for SMS bombing, spamming, illegal or unsolicited SMS,
      SMS advertising, SMS marketing, or any means that may cause high loads and
      those that can adversely impact the overall stability of service, then we will
      block or ban you from using the Service.
    </p>
    <p>&nbsp;</p>
    <h4> I sent a text message and it was not received by the mobile subscriber. </h4>
    <p class ='desc'>There are some reasons why SMS messages did not arrived.<ul>
          <li>Invalid mobile number.</li>
          <li>The mobile phone that you are trying to reach has been switch off or is out of coverage.</li>
          <li>Carrier-to-carrier error or network congestions.</li>
          <li>If the status is Delivered and you do not receive the message this means
           there is no carrier-to-carrier SMS agreement in place.</li></ul>
    </p>
    <p>&nbsp;</p>
    <h4>Can I send spam or unsolicited SMS?</h4>
    <p class ='desc'>We <strong>DO NOT ALLOW</strong> any unsolicited SMS, spam or illegal sms from our site. We are tracking every
       single user who uses this free service. This means that all transactions are recorded and will
        be use against who violate and abuse the service.</p>
    <p>&nbsp;</p>
    <h4>What I do if I am keep getting error while sending SMS?</h4>
    <p class ='desc'>If you get an ERROR like "invalid mobile number" or any blank filled then you must correct it yourself, but if you get ERROR like "Message Status Failed!""
      then it means some internal issue from our server or due to heavy load so wait for few minutes. It will be working very soon.</p>
    <p>&nbsp;</p>
    <p class ='desc'>Sometimes the error is caused when your message contains SCAM, BANNED, and SPAM or UNSOLICITED messages.
    </p>
  </div>
