<%- contentFor('page') %>



<!-- header -->


<div class="jumbotron text-center">
  <h1>Smarter SMS Marketing</h1>
  <h3>TXT Sender is online text messaging software<br> for businesses and non-profits.</h3>
<div class="container">
  <img class="banner" src="/images/screen.png" alt="" />
</div>
</div>

<!-- sigh up -->
<div class="container">
	<div class="row">
		<div class="text-center">
     <h4>Sign up for free. No credit card. No setup fees. No contract.</h4>
   </div>
     <div class="col-sm-2"></div>
        <div class="col-sm-8 text-left">
             <form action="#">

              <div class="input-group">
                 <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Enter Your Email" required>
                 <button class="btn btn-info btn-lg" type="submit">Submit</button>
              </div>
             </form>
       </div>
       <div class="col-sm-2"></div>

	</div>
</div>
</section>

<!-- About -->
<div class="well">
<div class="container text-center">


  <h1>Simple, yet powerful</h1>
  <div class="col-sm-2"></div>
  <div class="about col-sm-8 text-center">
  <h3>
    Faster than any other SMS software. Real-time analytics that will blow your mind. Features you'll actually use. Discover why Clearstream is the obvious choice for thousands of small businesses, non-profits and brands in the U.S.
  </h3>
  <img src="/images/devices.png" alt="" />
  </div>

</div>
</div>

<!-- features -->

<div class="features">
<div class="container">
<h2>Features</h2>
<br>
<div class="container-fluid text-center bg-grey">
<div class="row">
  <div class="col-sm-3">
    <span class="glyphicon glyphicon glyphicon-comment icons-small"></span>
    <h4>Send messages</h4>
    <p>Send or schedule a message to your subscribers. Outgoing messages are delivered at 250 texts/second.</p>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-bullhorn icons-small"></span>
    <h4>Grow your lists</h4>
    <p>Easily create keywords and website forms so customers/members can join your lists.</p>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-user icons-small"></span>
    <h4>Manage subscribers</h4>
    <p>See where new subscribers are coming from, capture data, and organize them into lists.</p>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-signal icons-small"></span>
    <h4>Track performance</h4>
    <p>Track metrics such as link clicks, opt-ins, opt-outs, delivery rates and message replies. All in real-time.</p>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-envelope icons-small"></span>
    <h4>Smart inbox</h4>
    <p>Manage and respond to incoming messages from subscribers. Perfect for a text-enabled feedback, help, or support line.</p>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-link icons-small"></span>
    <h4>Robust API</h4>
    <p>Power your SMS application with our REST API, including custom webhooks.</p>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-phone icons-small"></span>
    <h4>Mobile app</h4>
    <p>Send messages, reply to incoming texts and much more with our iOS app (Android coming soon).</p>
  </div>
  <div class="col-sm-3">
    <span class="glyphicon glyphicon-list-alt icons-small"></span>
    <h4>Legal compliance</h4>
    <p>FCC/TCPA compliance. CTIA/MMA compliance. Carrier compliance. We have you covered. Learn more.</p>
  </div>


</div>
</div>
</div>
