<%- contentFor('page') %>

<br><br><br>
<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading"><h1>Free Text Message Sender</h1>
</div>
  <div class="panel-body">
    <p>Send FREE SMS text message instantly with our incredibly fast SMS Service.
      The world best and fastest text messaging site online!</p>

      <p>Nothing here {{'yet' + '!'}}</p>
      <p>1 + 2 = {{1 + 2}}</p>






  <!-- HTML Form  -->
  <div class="bootstrap-iso">
   <div class="container-fluid">
    <div class="row">
     <div class="col-md-6 col-sm-6 col-xs-12">
      <form class="" action="send_free_sms" method="post">
       <div class="form-group ">
        <label class="control-label requiredField" for="phone">
         Phone
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="phone" name="phone" type="tel"/>
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="message">
         Message
         <span class="asteriskField">
          *
         </span>
        </label>
        <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="sender">
         Sender
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="sender" name="sender" type="text"/>
       </div>
       <div class="form-group">
        <div>
         <button class="btn btn-primary " name="submit" type="submit">
          Submit
         </button>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>


  </div>
</div>
  </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>
